.landing-v3-heading {
    font-family: 'Funnel Display', serif;
    color: #040826 !important;
}

.landing-v3-text {
    font-family: 'Geist';
    color: #040826 !important;
}

.geist-font {
    font-family: 'Geist';
}

.darkNavy {
    color: #040826 !important;
}

.banner {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: #f0f0f0;
}

.banner-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 60s linear infinite;
}

.banner-track .banner-element {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.2rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}