body {
    overflow-x: hidden !important;
}

.svg-overflow-visible svg {
    overflow: visible !important;
}

.app-anim-box-no-pointer * {
    cursor: default;
}
    
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .blurred-container {
      -webkit-backdrop-filter: blur(1.5rem);
      backdrop-filter: blur(1.5rem);
    }
    .infoLight-bg {
        background-color: #4299e144 !important;
    }  
    .info-bg {
        background-color: #4299e122 !important;
    }    
    .primary-bg {
        background-color: #5E17EB22 !important;
    }
    .loading-bg {
        background-color: #4299e122 !important;
    }
    .success-bg {
        background-color: #25C9A122 !important;
    }    
    .error-bg {
        background-color: #F4406166 !important;
    }
    .warning-bg {
        background-color: #ed893622 !important;
    }
  }
  
  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .compat-mode.info-bg {
        background: linear-gradient(125deg, #4299e1 0%, #105b99 50%, #4299e1 100%);
    }
    .compat-mode.loading-bg {
        background: linear-gradient(125deg, #4299e1 0%, #2e81c5 50%, #4299e1 100%);
    }
    .compat-mode.success-bg {
        background: linear-gradient(125deg, #25C9A1 0%, #15b38b 50%, #25C9A1 100%)
    }    
    .compat-mode.error-bg {
        background: linear-gradient(125deg, #F44061 0%, #d32a49 50%, #F44061 100%);
    }
    .compat-mode.warning-bg {
        background: linear-gradient(125deg, #ed8936 0%, #d17225 50%, #ed8936 100%);
    }

    .compat-mode2.primary-bg {
        background-color: #221d45 !important;
        opacity: 0.98;
    }

    .info-bg {
        background-color: #4299e1dd !important;
    }
    .loading-bg {
        background-color: #4299e1dd !important;
    }
    .success-bg {
        background-color: #25C9A1dd !important;
    }    
    .error-bg {
        background-color: #F44061dd !important;
    }
    .warning-bg {
        background-color: #ed8936dd !important;
    }
  }