name: day-cron
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Liquidity snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/cron-liquidity' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: DBR reward rate snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/cron-dbr-distributor' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: DOLA circ supply snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/dola/circulating-supply' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: DBR circ supply snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/dbr/circulating-supply' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: Daily Block & timestamp snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/cron-daily-block-timestamp' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: sDOLA snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/cron-dola-staking' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: jrDOLA snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/cron-jrdola' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: sINV snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/cron-inv-staking' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: veNfts snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/transparency/venft-evolution?ignoreCache=true' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: Clean old sims
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/cron-clean-sims' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
      - name: Take treasury assets snapshot
        run: |
          curl -v --request POST \
          --url 'https://www.inverse.finance/api/transparency/treasury-assets' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
